:root {
    color-scheme: light dark;
    background: #fff;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 10pt;
    color: #000;
    font-family: Nunito, 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}
.purple-em,
a {
    color: #8000d1;
}
.purple-em {
    font-style: normal;
    font-weight: bold;
}
#footer a:hover,
a:hover {
    color: #5500a5;
    text-decoration: none;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 32px;
}
#header {
    padding: 16px;
    background: url("../img/owm_web_header.png");
}
#logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
#nav {
    height: 32px;
    position: relative;
    /* top: -16px; */
    margin-top: -16px;
    background: url("../img/owm_web_tabstrip.png");
}
#nav a {
    width: 96px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: #E8D1F7;
    padding: 0 8px;
    box-sizing: border-box;
    height: 16px;
    line-height: 16px;
    position: relative;
    top: 8px;
    white-space: nowrap;
}
#nav a:hover {
    color: #ff8;
    background: url("../img/owm_web_tabpoint.png");
    height: 32px;
    top: 2px;
    margin-top: -4px;
    line-height: 28px;
    padding-top: 4px;
}
#nav a.current {
    color: #fff;
    background: url("../img/owm_web_tab.png");
    height: 32px;
    line-height: 32px;
    padding-top: 0;
    margin-top: 0;
    top: 0;
    font-weight: bold;
}
#nav a.current:hover {
    color: #ff8;
}
.nav-spacer {
    display: inline-block;
    width: 0;
    height: 19.5px;
    line-height: 32px;
}
#nav button {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    font-size: 10pt;
    font-family: Nunito, 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    padding: 0;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: 0;
    width: 100%;
}
#nav button * {
    vertical-align: middle;
}
#nav button i.menu-icon {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: url("../img/owm_web_menuicon2.png") no-repeat center/contain;
    margin-left: 0.25em;
}
#nav button:hover {
    color: #ff8;
}
#nav.shown button {
    border-bottom: 1px solid #ad80d1;
}
#nav.shown i.menu-icon {
    background-image: url("../img/owm_web_menuicon3.png");
}
.shadow {
    position: absolute;
    left: 0;
    right: 0;
    height: 16px;
    background-image: url("../img/owm_web_shadow.png");
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    z-index: 9;
}
#shadow { top: 112px; }
#footer-shadow { top: 0; }
#main {
    margin: 0;
    box-sizing: border-box;
    background: #fff url("../img/owm_web_pattern.png");
}
#main>.wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    background: url("../img/owm_web_fade.png") repeat-y top center;
    position: relative;
    overflow: hidden;
    height: 100%;
}
#main-screenshot {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#intro {
    font-weight: bold;
    font-size: 14pt;
    text-align: center;
    margin: 8px 0 32px;
}
#intro em {
    color: #8000d1;
    font-style: normal;
}
#download-link {
    text-decoration: none;
    border: 0;
    display: inline-block;
    width: 256px;
    height: 64px;
    background-image: url("../img/owm_web_download.png");
    text-indent: -9999px;
}
#download-link:hover {
    background-position: 0 -64px;
}
#download-link:active {
    background-position: 0 -128px;
}
#footer {
    position: relative;
    height: 96px;
    line-height: 47.5px;
    box-sizing: border-box;
    border-top: 1px solid #aaa;
    color: #999;
    padding: 24px;
    background: url("../img/owm_web_header.png");
    text-shadow: 0 1px 0 #fff;
}
#footer a {
    color: #999;
}
h2 {
    color: #5500a5;
    font-size: 14pt;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0 0 16px;
}
h3 {
    color: #44394e;
    font-size: 11pt;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0 0 12px;
}
.alert {
    position: relative;
    border: 1px solid;
    padding: 8px;
    margin: 4px 0;
    background-image: url("../img/owm_web_gradient.png");
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    /* For IE8 */
    behavior: url("css/pie/PIE.php");
}
.alert>* {
    vertical-align: middle;
}
.alert a {
    color: inherit;
}
.alert.alert-info {
    background-color: #a8dfff;
    border-color: #2a5ea3;
}
.alert.alert-success {
    background-color: #d6ffa8;
    border-color: #6fa32a;
}
.alert.alert-warning {
    background-color: #fff6a8;
    border-color: #a3792a;
}
.alert.alert-error {
    background-color: #ffaea8;
    border-color: #a32e2a;
}
ul {
    list-style-image: url("../img/owm_web_bullet.png");
}
#footer-links {
    float: right;
}
#github-link {
    display: inline-block;
    text-decoration: none;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    background-image: url("../img/owm_web_github.png");
    vertical-align: middle;
    /* margin-top: 16px; */
}
#github-link:hover {
    background-position: 0 -16px;
}
#forkme-container img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 19;
    -webkit-clip-path: polygon(62px 0px, 149px 87px, 149px 136px, 11px 0);
            clip-path: polygon(62px 0px, 149px 87px, 149px 136px, 11px 0);
}
.box {
    background: #fff url("../img/owm_web_smallshadow.png") repeat-x;
    border: 1px solid #ccc;
    margin: 8px 0;
    padding: 8px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    /* For IE8 */
    behavior: url("css/pie/PIE.php");
}
hr {
    border: 0;
    height: 1px;
    background: #8000d1;
    margin: 1.5em 0;
}
.issue-label {
    vertical-align: middle;
    background-image: url("../img/owm_web_gradient.png");
    background-repeat: repeat-x;
    display: inline-block;
    padding: 1px 2px;
    border: 1px solid;
    font-size: 8pt;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
    /* For IE8 */
    behavior: url("css/pie/PIE.php");
}
.code-wrapper {
    width: 100%;
    overflow: auto;
}
.code-wrapper pre {
    margin: 0;
}
.button {
    display: inline-block;
    background: #8000d1 url("../img/owm_web_gradient.png") repeat-x;
    border: 1px solid #320061;
    padding: 3px 6px;
    text-decoration: none;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    /* For IE8 */
    behavior: url("css/pie/PIE.php");
    color: #fff;
}
.button img {
    vertical-align: middle;
}
.button:hover {
    background-color: #a33ee2;
    color: #fff;
}
.button:active {
    background: #8000d1;
    color: #d1a2ee;
}
.button:active img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
}
#totop-wrapper {
    position: absolute;
    left: 0;
    top: -1px;
    right: 0;
    text-align: center;
    line-height: 1;
    z-index: 10;
}
#totop {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 23px;
    text-indent: -9999px;
    /* background-image: url("../img/owm_web_totop_shadow.png"); */
}
#totop-gfx {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 40px;
    display: inline-block;
    pointer-events: none;
    background-image: url("../img/owm_web_totopbtn.png");
}
#totop:hover #totop-gfx {
    background-position: 0 -40px;
}
.only-dark {
    display: none;
}
table.full-width {
    width: 100%;
}
table.bordered {
    border-collapse: collapse;
    background: #fff;
}
table.bordered thead {
    background: #ddd;
}
table.bordered th,
table.bordered td {
    border: 1px solid #999;
    padding: 2px;
}
table.bordered tr.even {
    background: #fff;
}
table.bordered tr.odd {
    background: #eee;
}
.avatar-image {
    vertical-align: middle;
}
.issue-status,
.verification-status {
    vertical-align: middle;
    margin: -4px;
}
.col-collapsed {
    width: 1px;
    white-space: nowrap;
}
.col-center {
    text-align: center;
}
.col-right {
    text-align: right;
}
.empty-state {
    color: #7f7f7f;
    text-align: center;
    font-size: 15pt;
    margin-top: 48px;
}
.empty-state-icon {
    width: 256px;
    height: 256px;
    margin: 0 auto 24px;
}
.empty-state-icon.empty-state-icon-issues {
    background-image: url("../img/empty_issues.png");
}
.empty-state-icon.empty-state-icon-releases {
    background-image: url("../img/empty_releases.png");
}
.empty-state-icon.empty-state-icon-commits {
    background-image: url("../img/empty_commits.png");
}
.git-changes-additions {
    color: #436813;
}
.git-changes-deletions {
    color: #a32e2a;
}
.avatar-loading {
    background-image: url("../img/owm_web_spinner_light.gif");
}
.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-image: url("../img/owm_web_spinner_light.gif");
}
.button-separator {
    display: inline-block;
    width: 1px;
    height: 22px;
    background: url("../img/owm_web_separator_light.png") repeat-x;
}
#ie-notice {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 32px;
    background: #fcc url("../img/ie_notice_background.gif") repeat-x;
    border-bottom: 1px solid maroon;
    z-index: 99;
    color: maroon;
    font: bold 12pt sans-serif;
    text-align: center;
}
#ie-notice a {
    color: blue;
}
@media (max-width: 640px) {
    #nav {
        background: #5500a5;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5500a5), color-stop(0%, #8000d1));
        background: -webkit-linear-gradient(to bottom, #5500a5, #8000d1);
        background: -moz-linear-gradient(to bottom, #5500a5, #8000d1);
        background: -o-linear-gradient(to bottom, #5500a5, #8000d1);
        background: linear-gradient(to bottom, #5500a5, #8000d1);
        height: auto;
    }
    #nav .wrapper {
        padding: 0;
    }
    #nav a {
        display: none;
        background: none;
        width: 100%;
        padding: 0;
        top: 0;
        height: 24px;
        line-height: 24px;
    }
    #nav a:hover {
        color: #ff8;
        background: none;
        height: 24px;
        top: 0;
        margin-top: 0;
        line-height: 24px;
        padding-top: 0;
    }
    #nav a.current {
        background: none;
        height: 24px;
        line-height: 24px;
    }
    #nav.shown a {
        display: block;
    }
    #nav button {
        display: block;
    }
    #shadow {
        display: none;
    }
    .wrapper {
        padding: 0 8px;
    }
    #footer {
        padding: 48px 16px 16px;
        line-height: 1.5;
        height: auto;
        /* background-size: 100% 100%; */
    }
    #github-link {
        margin-top: 0;
    }
    .nav-spacer {
        display: none;
    }
    #forkme-container img {
        width: 96px;
        height: 96px;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        background: #3f3f3f;
    }
    body {
        background: #202020;
        color: #fff;
    }
    a, #intro em, h2, .purple-em {
        color: #d6abff;
    }
    #footer a:hover,
    a:hover {
        color: #a16ad4;
    }
    hr {
        background: #d6abff;
    }
    h3 {
        color: #a99bb6;
    }
    #main {
        background: #202020 url("../img/owm_web_dark_pattern.png");
    }
    #main>.wrapper {
        background: url("../img/owm_web_dark_fade.png") repeat-y top center;
    }
    #footer {
        border-top-color: #666;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    }
    #header, #footer {
        background-image: url("../img/owm_web_dark_header.png");
    }
    #totop-gfx {
        background-image: url("../img/owm_web_dark_totopbtn.png");
    }
    .alert.alert-info {
        background-color: #2a5ea3;
        border-color: #a8dfff;
    }
    .alert.alert-success {
        background-color: #6fa32a;
        border-color: #d6ffa8;
    }
    .alert.alert-warning {
        background-color: #a3792a;
        border-color: #fff6a8;
    }
    .alert.alert-error {
        background-color: #a32e2a;
        border-color: #ffaea8;
    }
    ul {
        list-style-image: url("../img/owm_web_dark_bullet.png");
    }
    .box {
        background: #505050 url("../img/owm_web_dark_smallshadow.png") repeat-x;
        border: 1px solid #666;
    }
    .only-dark {
        display: unset;
    }
    .issue-label.only-dark {
        display: inline-block;
    }
    .only-light {
        display: none;
    }
    #github-link {
        background-image: url("../img/owm_web_dark_github.png");
    }
    table.bordered {
        background: #404040;
    }
    table.bordered thead {
        background: #545454;
    }
    table.bordered th,
    table.bordered td {
        border-color: #666;
    }
    table.bordered tr.even {
        background: #404040;
    }
    table.bordered tr.odd {
        background: #464646;
    }
    .empty-state {
        color: #9a9a9a;
    }
    .empty-state-icon.empty-state-icon-issues {
        background-image: url("../img/empty_issues_darkmode.png");
    }
    .empty-state-icon.empty-state-icon-releases {
        background-image: url("../img/empty_releases_darkmode.png");
    }
    .empty-state-icon.empty-state-icon-commits {
        background-image: url("../img/empty_commits_darkmode.png");
    }
    .git-changes-additions {
        color: #d6ffa8;
    }
    .git-changes-deletions {
        color: #ffaea8;
    }
    .spinner,
    .avatar-loading {
        background-image: url("../img/owm_web_spinner_dark.gif");
    }
    .button-separator {
        background-image: url("../img/owm_web_separator_dark.png");
    }
}
/* @media (prefers-color-scheme: dark) {
    :root {
        filter: invert(1) hue-rotate(180deg);
    }
    img, .shadow, #download-link {
        filter: invert(1) hue-rotate(180deg);
    }
} */
