<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="msapplication-navbutton-color" content="#8000d1" />
    <meta name="theme-color" content="#8000d1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% if title %}{{ title }} &ndash; {% endif %}Open Wii Manager</title>
    <link rel="shortcut icon" href="img/owm.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/nunito.css" type="text/css" />
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/page.js"></script>
</head>
<body>
{% if getenv("ENVIRONMENT") != "prod" %}
    <div style="position:fixed;left:0;top:0;z-index:9999;background:white;color:red;font:bold 14pt serif;cursor:pointer" title="Click to dismiss" onclick="$(this).remove()">DEV ENVIRONMENT</div>
{% endif %}
    <div id="header">
        <div class="wrapper">
            <img src="img/owm_text_web.png" id="logo" alt="Open Wii Manager" width="404" height="64" />
        </div>
    </div>
    <div id="nav">
        <div class="wrapper">
            <button onclick="$('#nav').toggleClass('shown')"><span>Menu</span><i class="menu-icon"></i></button>
            {% set hasActiveNav = false %}
            <a{% if activeNav == "index" %}{% set hasActiveNav = true %} class="current"{% endif %} href="index.php">Home</a>
            <a{% if activeNav == "download" %}{% set hasActiveNav = true %} class="current"{% endif %} href="download.php">Download</a>
            <a{% if activeNav == "source" %}{% set hasActiveNav = true %} class="current"{% endif %} href="source.php">Source code</a>
            <a{% if activeNav == "issues" %}{% set hasActiveNav = true %} class="current"{% endif %} href="issues.php">Issues</a>
            <a{% if activeNav == "wiki" %}{% set hasActiveNav = true %} class="current"{% endif %} href="wiki.php">Wiki</a>
            {% if not hasActiveNav %}<span class="nav-spacer"></span>{% endif %}
        </div>
    </div>
    <div id="shadow" class="shadow"></div>
    <div id="main">
        <div class="wrapper">
{% block body %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <div id="totop-wrapper">
            <a href="#" id="totop">
                <div id="totop-gfx"></div>
                <span>To top</span>
            </a>
        </div>
        <div id="footer-shadow" class="shadow"></div>
        <div class="wrapper">
            Open Wii Manager &ndash; A project by <a href="https://jonaskohl.de/" target="_blank">Jonas Kohl</a>
            &ndash; Website version <a href="//github.com/jonaskohl/owm-web/tree/{{ getenv("GIT_HASH")|default("main")|url_encode }}" target="_blank">{{ getenv("GIT_HASH")|slice(0, 7)|default("unknown") }}</a>
            <div id="footer-links">
                <a href="//github.com/jonaskohl/OpenWiiManager.git" target="_blank" id="github-link">GitHub</a>
            </div>
        </div>
    </div>

    <div id="forkme-container">
        <a href="http://github.com/jonaskohl/OpenWiiManager.git">
            <img src="/img/owm_web_forkme.png" alt="Fork me on GitHub" width="149" height="149" />
        </a>
    </div>
</body>
</html>
