{% set title = "" %}
{% set activeNav = "index" %}
{% extends "_layout.twig" %}
{% block body %}
<p id="intro">Open Wii Manager is the <em>best way to manage your Wii game backups</em>!</p>
<img id="main-screenshot" src="img/owm_screenshot2.png" alt="Screenshot of the main window of Open Wii Manager running on Windows 7 and showing a list of wii games" width="1086" height="625" />
<p>
    <a href="download.php" id="download-link">Download now</a>
</p>
{% endblock %}
